In [201]:
#####Create Heatmaps for Weather Parameters#####
#Here in this program we are going to use the data we collected from "openweather maps" and created a csv named "citiesweather.csv"</br>
#as the datas for DF and then we are using Google's MapsJavaScript API to create the plot ,filesneeded:config.py which saves the key of googleAPI</br>
##to use the GoogleAPI to plot the graph.so we are not using any URL from Google 
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [202]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("citiesweather.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Tucurui,-3.7661,-49.6725,86.11,72,87,2.04,BR,2021-03-05 16:00:34
1,1,Pipri,19.8000,75.5333,78.80,34,0,2.30,IN,2021-03-05 16:00:35
2,2,Balsas,-7.5325,-46.0356,88.39,59,69,6.53,BR,2021-03-05 16:00:25
3,3,Rikitea,-23.1203,-134.9692,79.97,83,0,11.27,PF,2021-03-05 16:00:36
4,4,Porto Novo,6.4965,2.6036,89.60,70,20,17.27,BJ,2021-03-05 16:00:36

In [203]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 486 entries, 0 to 485
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     486 non-null    int64
 1   City        486 non-null    object
 2   Lat         486 non-null    float64
 3   Lng         486 non-null    float64
 4   Max Temp    486 non-null    float64
 5   Humidity    486 non-null    int64
 6   Cloudiness  486 non-null    int64
 7   Wind Speed  486 non-null    float64
 8   Country     483 non-null    object
 9   Date        486 non-null    object
dtypes: float64(4), int64(3), object(3)
memory usage: 38.1+ KB

In [204]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [205]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [206]:
# Get the maximum temperature.to avoid errors while interpreting max_temp into weights
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [207]:
##### Heatmap of temperature#####
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the figure variable.#google API datas stored from the functions
fig = gmaps.figure()
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [208]:

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [209]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [210]:
#Create a Percent Cloudiness Heatmap
locations = city_data_df[["Lat", "Lng"]]
Cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
cloudiness_layer = gmaps.heatmap_layer(locations, weights=Cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(cloudiness_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [211]:
#Create a Wind Speed Heatmap

locations = city_data_df[["Lat", "Lng"]]
Wind_Speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
windspeed_layer = gmaps.heatmap_layer(locations, weights=Wind_Speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(windspeed_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [212]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
#max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50

In [213]:
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the maximum temperature you would like for your trip? 60

In [216]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
8,8,New Norfolk,-42.7826,147.0587,51.80,66,90,11.50,AU,2021-03-05 16:00:38
10,10,Asau,46.4333,26.4000,57.20,35,0,8.05,RO,2021-03-05 16:00:39
27,27,Ushuaia,-54.8000,-68.3000,55.40,50,40,12.66,AR,2021-03-05 15:57:59
42,42,Ahipara,-35.1667,173.1667,59.18,82,8,5.64,NZ,2021-03-05 16:00:52
66,66,Lishui,28.4604,119.9103,52.79,87,100,3.74,CN,2021-03-05 16:01:03
69,69,Fuling,29.7022,107.3919,52.47,78,10,1.66,CN,2021-03-05 16:01:05
70,70,Batemans Bay,-35.7167,150.1833,54.00,85,35,5.64,AU,2021-03-05 16:00:07
73,73,Lagoa,39.0500,-27.9833,57.40,70,72,8.08,PT,2021-03-05 16:01:05
83,83,Kaitangata,-46.2817,169.8464,54.00,86,94,6.51,NZ,2021-03-05 16:01:08
90,90,Parsons,37.3403,-95.2611,52.00,58,90,12.66,US,2021-03-05 16:01:10

In [217]:
#To find any Null Values
preferred_cities_df.count()

City_ID       42
City          42
Lat           42
Lng           42
Max Temp      42
Humidity      42
Cloudiness    42
Wind Speed    42
Country       42
Date          42
dtype: int64

In [218]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       0
Date          0
dtype: int64

In [220]:
preferred_cities_df.dropna()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
8,8,New Norfolk,-42.7826,147.0587,51.80,66,90,11.50,AU,2021-03-05 16:00:38
10,10,Asau,46.4333,26.4000,57.20,35,0,8.05,RO,2021-03-05 16:00:39
27,27,Ushuaia,-54.8000,-68.3000,55.40,50,40,12.66,AR,2021-03-05 15:57:59
42,42,Ahipara,-35.1667,173.1667,59.18,82,8,5.64,NZ,2021-03-05 16:00:52
66,66,Lishui,28.4604,119.9103,52.79,87,100,3.74,CN,2021-03-05 16:01:03
69,69,Fuling,29.7022,107.3919,52.47,78,10,1.66,CN,2021-03-05 16:01:05
70,70,Batemans Bay,-35.7167,150.1833,54.00,85,35,5.64,AU,2021-03-05 16:00:07
73,73,Lagoa,39.0500,-27.9833,57.40,70,72,8.08,PT,2021-03-05 16:01:05
83,83,Kaitangata,-46.2817,169.8464,54.00,86,94,6.51,NZ,2021-03-05 16:01:08
90,90,Parsons,37.3403,-95.2611,52.00,58,90,12.66,US,2021-03-05 16:01:10
95,95,Wajima,37.4000,136.9000,51.28,82,82,5.12,JP,2021-03-05 16:01:11
119,119,Hobart,-42.8794,147.3294,51.80,66,90,11.50,AU,2021-03-05 16:00:31
126,126,Mount Gambier,-37.8333,140.7667,55.40,67,90,11.50,AU,2021-03-05 16:01:17
144,144,Hasaki,35.7333,140.8333,51.80,93,90,3.44,JP,2021-03-05 16:01:22
151,151,Dunedin,-45.8742,170.5036,57.99,72,99,6.17,NZ,2021-03-05 15:59:39
152,152,Guilin,25.2819,110.2864,57.20,100,75,2.24,CN,2021-03-05 16:01:10
190,190,Challapata,-18.9000,-66.7667,53.67,54,100,2.01,BO,2021-03-05 16:01:32
211,211,Bereda,43.2686,-7.5406,55.99,72,51,8.99,ES,2021-03-05 16:01:38
232,232,Crotone,39.0851,17.1178,57.20,67,0,10.36,IT,2021-03-05 16:01:43
235,235,Enshi,30.3000,109.4833,51.10,83,78,0.16,CN,2021-03-05 16:01:44
249,249,Lasa,46.6166,10.7002,57.20,65,75,5.75,IT,2021-03-05 16:01:47
252,252,Dubbo,-32.2500,148.6167,59.00,72,0,8.05,AU,2021-03-05 16:01:48
257,257,Gazli,40.1333,63.4500,51.57,41,100,14.12,UZ,2021-03-05 16:01:49
265,265,Katsuura,35.1333,140.3000,53.60,100,75,4.99,JP,2021-03-05 16:01:50
271,271,Niimi,34.9833,133.4667,51.01,96,95,3.15,JP,2021-03-05 16:01:52
283,283,Dreznica,43.5289,17.2819,59.00,55,40,5.75,BA,2021-03-05 16:01:54
286,286,La Rioja,42.2500,-2.5000,59.00,58,40,6.91,ES,2021-03-05 16:01:54
295,295,Wenling,28.3669,121.3600,53.01,92,99,6.82,CN,2021-03-05 16:01:56
297,297,Nogales,31.3086,-110.9422,53.01,56,1,7.18,MX,2021-03-05 16:00:13
309,309,Half Moon Bay,37.4636,-122.4286,53.01,87,1,6.04,US,2021-03-05 16:02:00
330,330,Cabra,37.4725,-4.4421,55.99,79,100,2.46,ES,2021-03-05 16:02:05
332,332,Oga,46.4631,10.3470,52.00,74,75,12.66,IT,2021-03-05 16:02:05
333,333,Codrington,-38.2667,141.9667,53.22,76,83,10.09,AU,2021-03-05 16:02:06
356,356,Qianjiang,30.4151,112.8859,51.76,91,97,9.17,CN,2021-03-05 16:02:11
374,374,Kashi,39.4547,75.9797,50.00,32,75,11.18,CN,2021-03-05 16:02:16
380,380,Pecos,31.4229,-103.4932,57.20,28,1,17.27,US,2021-03-05 16:02:17
383,383,Fortuna,40.5982,-124.1573,54.00,77,100,8.01,US,2021-03-05 16:02:18
384,384,Hirado,33.3597,129.5531,57.00,66,100,5.99,JP,2021-03-05 16:02:19
453,453,Midland,31.9974,-102.0779,57.99,44,1,19.57,US,2021-03-05 16:02:33
469,469,Kushima,31.4583,131.2333,59.85,86,98,3.13,JP,2021-03-05 16:02:38
471,471,Albacete,38.8333,-2.0000,53.60,62,20,8.05,ES,2021-03-05 16:02:38
478,478,Murray Bridge,-35.1167,139.2667,54.00,94,19,6.62,AU,2021-03-05 16:02:40

In [221]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(15)

              City Country  Max Temp      Lat       Lng Hotel Name
8      New Norfolk      AU     51.80 -42.7826  147.0587
10            Asau      RO     57.20  46.4333   26.4000
27         Ushuaia      AR     55.40 -54.8000  -68.3000
42         Ahipara      NZ     59.18 -35.1667  173.1667
66          Lishui      CN     52.79  28.4604  119.9103
69          Fuling      CN     52.47  29.7022  107.3919
70    Batemans Bay      AU     54.00 -35.7167  150.1833
73           Lagoa      PT     57.40  39.0500  -27.9833
83      Kaitangata      NZ     54.00 -46.2817  169.8464
90         Parsons      US     52.00  37.3403  -95.2611
95          Wajima      JP     51.28  37.4000  136.9000
119         Hobart      AU     51.80 -42.8794  147.3294
126  Mount Gambier      AU     55.40 -37.8333  140.7667
144         Hasaki      JP     51.80  35.7333  140.8333
151        Dunedin      NZ     57.99 -45.8742  170.5036

In [222]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42 entries, 8 to 478
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        42 non-null     object
 1   Country     42 non-null     object
 2   Max Temp    42 non-null     float64
 3   Lat         42 non-null     float64
 4   Lng         42 non-null     float64
 5   Hotel Name  42 non-null     object
dtypes: float64(3), object(3)
memory usage: 2.3+ KB

In [223]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
         }

In [225]:
# iterate through hotel DF to get locations for each city
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    
    # Add latitude and longitude to parameters for search
    params["location"] = f"{lat},{lng}"
    
    # Create base_url for search
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data
    hotels = requests.get(base_url, params=params).json()
    
    # Store name of first hotel in hotel DF
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError): 
        print("No hotel found...skipping.")

No hotel found...skipping.
No hotel found...skipping.

In [226]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,New Norfolk,AU,51.80,-42.7826,147.0587,The Shingles Riverside Cottages
10,Asau,RO,57.20,46.4333,26.4000,Casa Mika Ciobanus
27,Ushuaia,AR,55.40,-54.8000,-68.3000,Albatros Hotel
42,Ahipara,NZ,59.18,-35.1667,173.1667,Ahipara Holiday Park
66,Lishui,CN,52.79,28.4604,119.9103,Bayi Hotel
69,Fuling,CN,52.47,29.7022,107.3919,Yingbin Hostel
70,Batemans Bay,AU,54.00,-35.7167,150.1833,Batemans Bay Marina Resort
73,Lagoa,PT,57.40,39.0500,-27.9833,Casa Das Faias
83,Kaitangata,NZ,54.00,-46.2817,169.8464,Kaitangata Motor Camp
90,Parsons,US,52.00,37.3403,-95.2611,Best Western Parsons Inn
95,Wajima,JP,51.28,37.4000,136.9000,Wajiima Onsen Yashio
119,Hobart,AU,51.80,-42.8794,147.3294,Mantra on Collins Hobart
126,Mount Gambier,AU,55.40,-37.8333,140.7667,Commodore on the Park
144,Hasaki,JP,51.80,35.7333,140.8333,Hotel Sunrise Choshi
151,Dunedin,NZ,57.99,-45.8742,170.5036,Scenic Hotel Southern Cross
152,Guilin,CN,57.20,25.2819,110.2864,Grand 0773 Hotel
190,Challapata,BO,53.67,-18.9000,-66.7667,HOSTAL MARIAN
211,Bereda,ES,55.99,43.2686,-7.5406,Pazo de Verdes
232,Crotone,IT,57.20,39.0851,17.1178,Helios Hotel
235,Enshi,CN,51.10,30.3000,109.4833,Moevenpick Enshi
249,Lasa,IT,57.20,46.6166,10.7002,Pension Feldgrtenhof
252,Dubbo,AU,59.00,-32.2500,148.6167,Comfort Inn Blue Lagoon
257,Gazli,UZ,51.57,40.1333,63.4500,
265,Katsuura,JP,53.60,35.1333,140.3000,Katsuura Hotel Mikazuki
271,Niimi,JP,51.01,34.9833,133.4667,
283,Dreznica,BA,59.00,43.5289,17.2819,"Odmorite ""LOKVA"""
286,La Rioja,ES,59.00,42.2500,-2.5000,Casa Concejos
295,Wenling,CN,53.01,28.3669,121.3600,Hanting Express Wenling Wanchang North Road
297,Nogales,MX,53.01,31.3086,-110.9422,Hotel Marqus De Cima
309,Half Moon Bay,US,53.01,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
330,Cabra,ES,55.99,37.4725,-4.4421,MS Fuente Las Piedras
332,Oga,IT,52.00,46.4631,10.3470,QC Terme Bagni di Bormio Bagni Nuovi
333,Codrington,AU,53.22,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
356,Qianjiang,CN,51.76,30.4151,112.8859,Shell Qianjiang City Qianjiang bus station Hotel
374,Kashi,CN,50.00,39.4547,75.9797,
380,Pecos,US,57.20,31.4229,-103.4932,Knights Inn Pecos
383,Fortuna,US,54.00,40.5982,-124.1573,Super 8 by Wyndham Fortuna
384,Hirado,JP,57.00,33.3597,129.5531,Samson Hotel
453,Midland,US,57.99,31.9974,-102.0779,DoubleTree by Hilton Hotel Midland Plaza
469,Kushima,JP,59.85,31.4583,131.2333,Hanaoka
471,Albacete,ES,53.60,38.8333,-2.0000,
478,Murray Bridge,AU,54.00,-35.1167,139.2667,Balcony On Sixth Lodge

In [227]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [228]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [229]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>
"""

In [230]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [231]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))